.half-width{
    width: 42.33%;
    float: left;
    box-shadow: 5px 5px 5px grey;
    border-radius: 14px;
    margin: 32px;
    padding:23px 50px 2px 62px;
    height: 167px;
 
}
.btnStyle{
    margin:10px
}